body::after{
  content:
          url(../img/take-min.png)
          url(../img/done-min.png)
          url(../img/status_barNew.png)
          url(../img/back.png)
          url(../img/table.png)
          url(../img/c.png)
          url(../img/d.png)
          url(../img/h.png)
          url(../img/p.png)
          url(../img/6c.png)
          url(../img/6d.png)
          url(../img/6h.png)
          url(../img/6p.png)
          url(../img/7c.png)
          url(../img/7d.png)
          url(../img/7h.png)
          url(../img/7p.png)
          url(../img/8c.png)
          url(../img/8d.png)
          url(../img/8h.png)
          url(../img/8p.png)
          url(../img/9c.png)
          url(../img/9d.png)
          url(../img/9h.png)
          url(../img/9p.png)
          url(../img/10c.png)
          url(../img/10d.png)
          url(../img/10h.png)
          url(../img/10p.png)
          url(../img/Jc.png)
          url(../img/Jd.png)
          url(../img/Jh.png)
          url(../img/Jp.png)
          url(../img/Qc.png)
          url(../img/Qd.png)
          url(../img/Qh.png)
          url(../img/Qp.png)
          url(../img/Kc.png)
          url(../img/Kd.png)
          url(../img/Kh.png)
          url(../img/Kp.png)
          url(../img/Ac.png)
          url(../img/Aad.png)
          url(../img/Ah.png)
          url(../img/Ap.png)
;
  display: none;
}

#main {
  width: 800px;
  height: 500px;
  background-image: url(../img/img-noise-361x370.png);
}

#main_g {
  width: 800px;
  height: 500px;
  background-image: url(../img/table.png);
  background-size: 100%;
  position: relative;
}
#timer{
  margin-left: 50%;
  margin-top: 6%;
  color: antiquewhite;
}
.avatar_own{
  position: absolute;
  width: 45px;
  height: 45px;
  background: aliceblue;
  margin-top: 9%;
  margin-left: 6%;
}
.card {
  width: 70px;
  height: 100px;
  /*position: absolute;*/
  left: 50px;
  top: -150px;
  float: left;
  margin-left: 5px;
  display: inline-block;
}

#table {
  background-image: url(../img/img-noise.png);
  width: 80%;
  margin: auto;
  margin-top: 20px;
  color: gray;
}

#table span {
  padding-right: 180px;
}

.pos1 {
  width: 60px;
  height: 110px;
  display: inline-block;
  margin-left: 10px;
}

.pos2 {
  width: 60px;
  height: 110px;
  display: inline-block;
  margin-left: 10px;
}

.pos3 {
  width: 60px;
  height: 110px;
  display: inline-block;
  margin-left: 10px;
}

.pos4 {
  width: 60px;
  height: 110px;
  display: inline-block;
  margin-left: 10px;
}

.pos5 {
  width: 60px;
  height: 110px;
  display: inline-block;
  margin-left: 10px;
}

.pos6 {
  width: 60px;
  height: 110px;
  display: inline-block;
  margin-left: 10px;
}

#c1 {
  width: 60px;
  height: 90px;
  z-index: 0;
  margin-top: 0%;
}

#c2 {
  width: 60px;
  height: 90px;
  z-index: 1;
  margin-top: -60%;
}

#categor {
  background: black;
  color: aqua;
  font-style: normal;
}
#PlayerReady{
  float: right;
}
.playerID{
  color: whitesmoke;
}
.PreScreen{
  height: 60%;
  width: 60%;
  background-color: rgba(0,0,0, 0.4);
  margin-top: 10%;
  margin-left: 20%;
}

#categor span {
  padding-right: 150px;
}

#trump {
  width: 40px;
  height: 40px;
  bottom: 0;
  position: absolute;
}

#number {
  border: 2px solid lightgrey;
  border-radius: 10%;
  color: lightgrey;
  font-weight: bold;
  width: 55px;
  height: 30px;
  float: right;
  bottom: 0%;
  position: absolute;
  margin-left: 40%;
  /* vertical-align: middle; */
}

#own_hand {
  width: 700px;
  display: inline-block;
  height: auto;
  position: absolute;
  bottom: 15%;
  left: 20%;
  margin: auto;
  /*transform: rotate(2deg);*/
}

#back {
  width: 60px;
  height: 84px;
  margin-top: -10%;
  margin-left: 20%;
  z-index: 1;
  position: absolute;
  background-image: url(../img/back.png);
  background-size: 100%;
  transform: rotate(90deg);
}

#front_card {
  width: 50px;
  height: 70px;
  z-index: 0;
  position: absolute;
}

.player_top {
  width: 700px;
  height: 80px;
  margin-left: 30%;
  position: absolute;
  transform: rotate(0deg);
  display: inline-block;
}

.player_left {
  /*width: 70px;
  height: 80px;
  margin-left: 15%;
  position: absolute;
  transform: rotate(154deg);
  */
  width: 70px;
  height: 80px;
  margin-left: 1%;
  margin-top: 20%;
  position: absolute;
  transform: rotate(90deg);
  background: beige;
}

.player_right {
  /*width: 70px;
  height: 80px;
  margin-left: 80%;
  position: absolute;
  transform: rotate(150deg);
  */
  width: 70px;
  height: 80px;
  margin-left: 90%;
  margin-top: 20%;
  position: absolute;
  transform: rotate(-90deg);
  background: beige;
}

.allcards {
  width: 100px;
  height: 145px;
  position: absolute;
  margin-left: 18%;
  vertical-align: middle;
  margin-top: 17%;
  weight: bold;
}

.deck {
  width: 430px;
  height: 130px;
  margin: auto;
  margin-top: 15%;
  margin-left: 30%;
  vertical-align: middle;
  position: absolute;
}

.status_bar {
  width: 350px;
  height: 80px;
  margin-left: 30%;
  position: absolute;
  bottom: 0%;
  background: url(../img/status_barNew.png) no-repeat;
  background-size: 100%;
  z-index: 99;
}

.hand {
  background: url(../img/hand.png) no-repeat;
  background-size: cover;
  z-index: 98;
  margin-left: 44%;
  position: absolute;
  bottom: 8.4%;
  width: 100px;
  height: 100px;
}

.sub_btn {
  width: 75px;
  height: 100px;
  position: absolute;
  bottom: 10%;
  left: 10%;
  margin: auto;
  text-align: center;
}

.sub_btn span {
  font-weight: bolder;
  font-size: medium;
  color: ghostwhite;
}

.status_done {
  background: url(../img/done-min.png);
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-left: 70%;
  position: absolute;
  bottom: 10%;
}

.status_take {
  background: url(../img/take-min.png);
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-left: 70%;
  position: absolute;
  bottom: 10%;
}

.done {
  margin: auto;
  width: 60px;
  height: 60px;
  background-image: url(../img/done-min.png);
  background-size: 100%;
  font-weight: bolder;
  font-size: medium;
  color: ghostwhite;
}

.take {
  margin: auto;
  width: 60px;
  height: 60px;
  background-image: url(../img/take-min.png);
  background-size: 100%;
  font-weight: bolder;
  font-size: medium;
  color: ghostwhite;
}
#createRoom{
  position: absolute;
  bottom: 35%;
  margin-left: 10%;
}
#create{
  position: absolute;
  bottom: 35%;
  margin-left: 20%;
  height: 30px;
  width: 200px;
  background: limegreen;
  border: 1px solid green;
  border-radius: 5%;
  text-align: center;
  font-weight: bolder;
  line-height: 30px;
}
.player_back {
  width: 60px;
  height: 90px;
  background: url(../img/back.png) no-repeat 50% 50%;
  background-size: 100%;
  float: left;
  margin-left: 5px;
  display: inline-block;
}
#status_span{
  margin: 0 auto;
  font-weight: bolder;
  font-size: medium;
  color: ghostwhite;
}
b-container{
  width:200px;
  height:150px;
  background-color: #ccc;
  margin:0px auto;
  padding:10px;
  font-size:30px;
  color: #fff;
}
.b-popup{
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
}
.b-popup .b-popup-content{
  margin:40px auto 0px auto;
  width:100px;
  height: 40px;
  padding:10px;
  background-color: #c5c5c5;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
}

.c {
  background: url(../img/c.png) no-repeat 50% 50%;
  background-size: 100%;
}

.d {
  background: url(../img/d.png) no-repeat 50% 50%;
  background-size: 100%;
}

.h {
  background: url(../img/h.png) no-repeat 50% 50%;
  background-size: 100%;
}

.p {
  background: url(../img/p.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c1-6 {
  background: url(../img/6c.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c2-6 {
  background: url(../img/6d.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c3-6 {
  background: url(../img/6h.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c4-6 {
  background: url(../img/6p.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c1-7 {
  background: url(../img/7c.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c2-7 {
  background: url(../img/7d.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c3-7 {
  background: url(../img/7h.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c4-7 {
  background: url(../img/7p.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c1-8 {
  background: url(../img/8c.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c2-8 {
  background: url(../img/8d.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c3-8 {
  background: url(../img/8h.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c4-8 {
  background: url(../img/8p.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c1-9 {
  background: url(../img/9c.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c2-9 {
  background: url(../img/9d.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c3-9 {
  background: url(../img/9h.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c4-9 {
  background: url(../img/9p.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c1-10 {
  background: url(../img/10c.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c2-10 {
  background: url(../img/10d.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c3-10 {
  background: url(../img/10h.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c4-10 {
  background: url(../img/10p.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c1-11 {
  background: url(../img/Jc.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c2-11 {
  background: url(../img/Jd.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c3-11 {
  background: url(../img/Jh.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c4-11 {
  background: url(../img/Jp.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c1-12 {
  background: url(../img/Qc.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c2-12 {
  background: url(../img/Qd.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c3-12 {
  background: url(../img/Qh.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c4-12 {
  background: url(../img/Qp.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c1-13 {
  background: url(../img/Kc.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c2-13 {
  background: url(../img/Kd.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c3-13 {
  background: url(../img/Kh.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c4-13 {
  background: url(../img/Kp.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c1-14 {
  background: url(../img/Ac.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c2-14 {
  background: url(../img/Aad.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c3-14 {
  background: url(../img/Ah.png) no-repeat 50% 50%;
  background-size: 100%;
}

.c4-14 {
  background: url(../img/Ap.png) no-repeat 50% 50%;
  background-size: 100%;
}
